.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    z-index: 1;

    .content {
        //border-radius: 4px;
        position: relative;
        //width: 500px;
        max-width: 90%;
        //background: #fff;
        //padding: 1em 2em;
    }

    .close {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #585858;
        text-decoration: none;
        font-size: 2rem;
        cursor: pointer;
    }

    .overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(77, 77, 77, 0.7);
    }
}

.modal-show {
    display: flex;
}
